@CHARSET "EUC-KR";

body {
	background-color: black;
	
}
#bigBox {
	background-color: gray;
	border-width: 5px;
	border: solid gray;
	padding : 10px;
	width : 690px;
	height : 505px;
}

#controlPanel {
	float: left;
	width: 150px;
	background-color: gray;
	padding: 10px;
}

#spin {
	float: left;
	margin-left: 10px;
}